body{
  background-image: url("../IMG/back2.jpeg");
  background-color: rgb(0, 0, 0);  
  background-repeat: no-repeat;
  background-position: 1px 260px;
  background-size: 1950px 950px;
  

  
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}
.cabecalho{
  padding: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.cabecalho-img{

  position: absolute;
 left: 20px;
  width: 170px;
  height: 130px;
}
.rodape{
  padding-bottom: 10px;
  padding: 32px;
  border-top: 0.4px solid white;
  position: absolute;
  top: 140%;

}
.rodape-imagem{
  width: 170px;
   height: 130px;
}
.cabecalho-menu{
  display: flex;
  gap:102px;
}
.cabecalho-menu-item{
  font-family: 'Sarala', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  
}
.cabecalho-menu-item:hover{
  color: #003dd7;

}

.imgmain{
  
  padding: 32em;
  position: absolute;
  width: 832px;
  height: 496px;
}
.conteudo{
  margin-bottom: 48px;
  border-top: 0.4px solid white;
}

.conteudo-principal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}
.conteudo-principal-escrito{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.conteudo-principalh1{
  padding-top: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: white;
  

}
.conteudo-principalh2{
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
}
.conteudo2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}
.conteudo2-h3{
  border-top: 0.4px solid #fff2e7;
  padding-top: 48px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
}
.conteudo2-p{
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: white;

}
/* -----------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.container{
  width: 85%;
  background-color: #fff2e7;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}
.conteudo-contato{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container .content{
  display: flex;
  align-items: center;
  justify-content: center;

}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: black;
}

.container .left-side .details i{
  font-size: 30px;
  color: black;
  margin-bottom: 10px;

}

.container .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one

https://www.youtube.com/watch?v=WM7zj2hza0o