
.cabecalho{
  padding: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.cabecalho-img{

  position: absolute;
 left: 20px;
  width: 170px;
  height: 130px;
}
.cabecalho-menu{
  display: flex;
  gap:102px;
}
.cabecalho-menu-item{
  font-family: 'Sarala', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  
}
.cabecalho-menu-item:hover{
  color: #003dd7;

}
.conteudo{
  margin-bottom: 48px;
  border-top: 0.4px solid white;
}

.conteudo-principal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  
  
}
.conteudo-principal-escrito{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.conteudo-principalh1{
  padding-top: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: white;

}
.conteudo-principalh2{
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
  
}
.rodape{
  padding-bottom: 10px;
  padding: 32px;
  border-top: 0.4px solid white;
  position: absolute;
  top: 140%;
  width: 100%;
  

}
.rodape-imagem{
  width: 170px;
   height: 130px;
}




*{
	margin: 0px;
	padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: rgb(0, 0, 0);  
  
}

.galeria {
  margin: 200px auto;
  width: 580px;
  height: 370px;
  overflow: hidden;
  object-fit: cover;
  position:static;
}

.foto {
  position: absolute;
  animation: animacao infinite 20s;
  opacity: 0;
  width: 580px;
  height: 370px;
  
}

@keyframes animacao {
  25% {
    opacity: 1;
   	transform: scale(1.1,1.1);
  }
 50% {
    opacity: 0;
   	
  }
}

.foto:nth-child(1) {
  animation-delay: 0s;
}

.foto:nth-child(2) {
  animation-delay: 5s;
}

.foto:nth-child(3) {
  animation-delay: 10s;
}

.foto:nth-child(4) {
  animation-delay: 15s;
}